<launch>

  <arg name="js_pub_rate" default="100" />
  <arg name="tel_pub_rate" default="50" />
  <arg name="sequential" default="false" />
  <arg name="dev" default="/dev/input/js0" />
  <arg name="which_arm" default ="left" />
  <arg name="joint_names" default ="[s0, s1, e1, w1]" />
  <arg name="teleop_device" default ="xbox" />
  <arg name="bag_file" default ="/home/bpwilcox/catkin_ws/src/SOLAR_GP-ROS/bags/trajectories/test_left_1.bag" />
  <arg name="filter_coefficient" default="0.05" />
  <arg name="max_pred_distance" default="1.0" />
  <arg name="jit_init" default ="25" />
  <arg name="deg" default ="3" />
  <arg name="joint_init" default ="[0.67, 1.03, -0.5, -1.19, 1.94,-0.08,-1.0]" />
  <arg name="tr_pub_rate" default="100" />
  <arg name="num_ind" default ="25" />
  <arg name="w_thresh" default ="0.975" />
  <arg name="drift_num" default ="1" />

  <node pkg="joy" type="joy_node" name="joy">
    <param name="dev" value="$(arg dev)" /> 
    <param name="deadzone" value="0.2" />
    <param name="autorepeat_rate" value="40" />
    <param name="coalesce_interval" value="0.025" />
  </node>

  <node pkg="tf" type="static_transform_publisher" name="telop_tf"
		args="0 0 0 0 0 0 base teleop 100" />



  <node name="predict_node" pkg="bwrobot" type="baxter_predict_teleop.py">
  	<param name="predict_pub_rate" value="$(arg js_pub_rate)" />
  	<param name="wait_for_train" value="$(arg sequential)" />
	<param name="arm" value="$(arg which_arm)" />
	<param name="max_distance" value="$(arg max_pred_distance)" />
  </node>


  <node name="control_node" pkg="bwrobot" type="baxter_control.py">
  	<rosparam param ="joints" subst_value="True">$(arg joint_names)</rosparam>
	<param name="arm" value="$(arg which_arm)" />
	<param name="filter_coef" value="$(arg filter_coefficient)" />
  </node>


  <node name="teleop_node" pkg="bwrobot" type="teleop_stream.py">
  	<param name="teleop_pub_rate" value="$(arg tel_pub_rate)" />
	<param name="device" value="$(arg teleop_device)" />
	<param name="trajectory_filename" value="$(arg bag_file)" />
  </node>


  <node name="train_node" pkg="bwrobot" type="baxter_train.py">
  	<param name="train_pub_rate" value="$(arg tr_pub_rate)" />
  	<rosparam param ="YStart" subst_value="True">$(arg joint_init)</rosparam>
  	<rosparam param ="joints" subst_value="True">$(arg joint_names)</rosparam>
	<param name="njit" value="$(arg jit_init)" />
	<param name="degree" value="$(arg deg)" />
	<param name="num_inducing" value="$(arg num_ind)" />
	<param name="wgen" value="$(arg w_thresh)" />
	<param name="drift" value="$(arg drift_num)" />
	<param name="arm" value="$(arg which_arm)" />
  </node>

</launch>
